*{
  padding: 0;
  margin: 0;
}

body{
  background: #2e2e2e;
  font-family: georgia,times,monospace;
}

/*Header*/

.cabecera{
  width: 100%;
  height: 70px;
  background: #222;
  align-items: center;
  display: flex;
}

/*Menú desplegable*/

.navigation ul{
  list-style: none;
}

.menucont{
  display: inline-block;
  position: relative;
  left: 1130px;
  background: #444;
  width: 60px;
  height: 17px;
  padding: 15px;
  border-radius: 10px;
}

.icon1{
  color: #fff;
  cursor: pointer;
  position: relative;
}

.menucont > i{
  position: relative;
  display: inline-block;
}

.menucont>i>a{
  display: block;
  padding: 15px 20px;
  color: #eee;
  font-family: open-sans;
  text-decoration: none;
}

.menucont:hover{
  background: #333;
  color: #558fff;
  transition: all 0.3s;
}

.menucont i a:hover{
  color: #558fff;
  transition: all ease-in-out 0.3s;
}

.submenu{
  z-index: 3;
  position: absolute;
  top: 32px;
  right: -45px;
  background: #444;
  border: 2px solid #333;
  border-radius: 10px;;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.submenu li a{
  display: block;
  padding: 15px;
  color: #eee;
  font-family: open-sans;
  text-decoration: none;
}

.menucont:hover .submenu{
  visibility: visible;
  opacity: 1;
}

.submenu li:hover{
  background: #333;
}

/* Container */

.container{
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  background: #666;
  border-radius: 20px;

}

/* form-reg */

.form-reg{
  padding: 20px;
}

/* Registro */

.registro input[type="text"], input[type="email"],
input[type="password"]{
  width: 300px;
  padding: 10px;
  text-align: center;
  background: #303030;
  border: 1px solid #303030;
  color: #eee;
}

form select{
  background: #303030;
  color: #eee;
  font-family: times,georgia,monospace;
  cursor: pointer;
  padding: 10px;
}

form select option{
  background: #444;
}

.terminos{
  padding: 5px;
}

.acuerdo{
  font-size: 12px;
}

.ter{
  color: #292929;
}

.boton{
  width: 280px;
  position: relative;
  left: 15px;
  padding: 3px;
  background: #333;
  color: #ddd;
  border: 1px solid #333;
  cursor: pointer;
  border-radius: 10px;
}

.boton:hover{
  background: #454545;
}

.otro{
  font-size: 13px;
  color: #292929;
  position: relative;
  left: 100px;
}

input[type="text"]:hover{
  border: 1px solid #008f35;
}

input:hover{
  border: 1px solid #008f35;
}

select:hover{
  border: 1px solid #008f35;
}

form a:hover{
  color: #eee;
}

/* Logo */

.logo{
  width: 350px;
  position: absolute;
  top: 260px;
  right: 330px;
}
